@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap');

html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #333;
	color: white;
	font-family: sans-serif;
}
/*** moentaneo ****/
img{
	/* border: 1px solid white; */
}
#card{
	width: 95%;
	height: 95%;
	/* border: 2px solid white; */
	max-width: 338px;
	/* background-color: black; */
	margin: auto;
	/* min-height: max-content; */
	/* min-height: 500px; */
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#up, #down{/* height: 40%; */width: 100%;position: relative;}

#up{
	height: 40%;
	background-image: url('perfil.jpg');
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#flag{
	position: absolute;
	height: 2.3em;
	width: 2.3em;
	border-radius: 50%;
	background-position: center;
    background-size: cover;
	margin: 0.5em;
}
#name{
	height: max-content;
	position: absolute;
	bottom: 0;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	/* font-weight: bold; */
	width: 100%;
	background-color: black;
	/*background: linear-gradient(180deg, rgba(0,0,0,0) -12%, rgb(18, 18, 18) 35%);*/
}
#name>span{
	/*    margin-top: 2.5em; */
	position: relative;
	/* height: 3em; */
	display: block;
	/* line-height: 3em; */
	font-size: 1.6em;
	margin: 0.3em;
}




#down{
	height: max-content;
	width: 100%;
	min-height: max-content;
	padding-top: 1em;
	padding-bottom: 0.5em;
	background-color: black;
}

/*****************************/
#star{
	font-size: 3em;
	text-align: center;
}
.stars-outer {
  display: inline-block;
  position: relative;
  /*font-family: FontAwesome;*/
}
 
.stars-outer::before {
  content: "\2605 \2605 \2605 \2605 \2605";
}
 
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 73%;
}
 
.stars-inner::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  color: #FFD33E;
}

/*****************************/



#datos{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 0.5em;
}
.line{
	width: 0.3em;
	/* height: 4em; */
	/* height: 100%; */
}
#datos>div{
	display: flex;
	flex-direction: column;
	width: 30%;
	text-align: center;
	font-size: 0.7em;
}
#datos .span{
	font-size: 1.3em;
	font-weight: bold;
}
div.dat_icon{
	margin-bottom: 0.5em;
}
.dat_icon img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.hab_row{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.hab{
	display: flex;
	flex-direction: column;
	height: max-content;
	width: 33%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.hab>*{
	margin-left: auto;
	margin-right: auto;
}
.hab_icon{
	height: 2em;
	width: 2em;
}
.hab_icon img{
	margin: auto;
	text-align: center;
	/* width: auto; */
	/* height: 2em; */
	display: block;
}
.hab span{
	font-size: 0.8em;
}
.hab span.num{
	margin-top: 0.2em;
	font-size: 1em;
	font-weight: bold;
}
/********************************/
#logo{
	/* width: 80%; */
	height: 4em;
	margin-left: auto;
	margin-right: auto;
	display: block;
	/* margin: 0.5em; */
	/* padding-bottom: 1em; */
}