@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#card-box {
  /* margin: 100px; */
  /* width: 200px; */
  /* height: 250px; */
  position: relative;
  perspective: 1000px;
}
/*
#card-box:hover #card {
    transform: rotateY(180deg);
}
*/
#card {
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.cara {
  position: absolute;
  backface-visibility: hidden;
}

.cara.detras {
  min-width: inherit;
  min-height: inherit;
  transform: rotateY(180deg);
  background-color: white;
}


html,body{
  margin:0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #999;
}
#waper{
  position: absolute;
  height: max-content;
  width: max-content;
   margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
}
#card-box{
  margin-top: 1em;
  overflow: hidden;
}
#card{
  min-height: 500px;
  min-width: 300px;
  background-color: white;
  color: black;
}
.c-h{
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}
.c-v{
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
#foto, .card-sec{
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-sec{
  border: 2px solid #ffe400;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
.cara .card-sec{
  margin: 1.5em;
}

.top, .down{
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  position: absolute;
}
.top{
  margin-left: auto;
  right: calc(-1 * (1.5em + 2px));
}
.down{
  margin-right: auto;
  margin-top: auto;
  bottom: 2em;
  left: calc(-1 * (1.3em + 2px));
}
.down>div{
  position: relative;
}
h1,h2{
  display: block;
  margin:0;
  font-size: 1em;
  margin-top: 0.5em;
 
}
h1{
  font-size: 1.5em;
}
.hh, .circle{
  background-color: black;
  color: white;
}
.hh:last-child{
   padding-left: 0.9em;
}
.circle{
  border-radius: 50%;
  height: 3em;
  display: block;
  width: 3em;
  left: 0;
  margin-top: 0.5em;
}

.hh{
  border-top-left-radius: 3em;
  border-bottom-left-radius: 3em;
  right: 0;
  padding: 0.2em;
  padding-left: 0.6em;
  box-sizing: border-box;
}
#flag, #logo{
  position: absolute;
  height: 70%;
  width: 70%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}
#age{
  font-size: 1em;
  text-align: center;
  width: max-content;
  margin: auto;
  display: block;
  margin-top: 0.4em;
}
#age:after{
  content: 'años';
  font-size: 0.7em;
  text-align: center;
  width: max-content;
  margin: auto;
  display: block;
  margin: 0;
}



/*** detras ***/
.detras .card-sec{
  background-color: #eee;
}
.detras .card-sec:first-child{
  height: calc(40% - 1.5em - 0.7em - 2px);
}
.detras .card-sec:last-child{
  height: calc(60% - 1.5em - 0.7em - 2px);
  bottom: 0;
}
.detras .top{
  width: 60%;
  font-size: 1em;
}
.detras .down{
  bottom: 1em;
}
.detras h2{
  font-size: 0.9em;
}
#logo{
  width: 90%;
  height: 90%;
  margin: auto;
}
.detras .datos{
  width: 90%;
  position: relative;
  height: max-content;
  /* width: max-content; */
  overflow: hidden;
}
#des, .dato:first-child{
  height: max-content;
  font-size: 0.7em;
  margin-top: 3em;
  overflow: auto;
  /* height: inherit; */
  /* height: 8em; */
  font-family: 'Montserrat', sans-serif;
}

/****** estrellas ***/
.star{
  font-size: 3.2em;
  text-align: center;
  margin: 0;
  margin-top: -0.4em;
}
.stars-outer {
  display: inline-block;
  position: relative;
  /*font-family: FontAwesome;*/
}
 
.stars-outer::before {
  content: "\2606 \2606 \2606 \2606 \2606";
}
 
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}
 
.stars-inner::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  color: #FFD33E;
}


/**** habs **/

div.dat_icon{
  margin-bottom: 0.5em;
}
.dat_icon img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.hab_row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.hab{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 33%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 0.9em;
}
.hab>*{
  margin-left: auto;
  margin-right: auto;
}
.hab_icon{
  height: 2.2em;
  width: 2.2em;
  margin-bottom: 0.1em;
  position: relative;
}
.hab_icon img{
  margin: auto;
  text-align: center;
  /* width: auto; */
  /* height: 2em; */
  display: block;
  position: absolute;
}
.hab span{
  font-size: 0.8em;
}
.hab span.num{
  margin-top: 0.2em;
  font-size: 1em;
  font-weight: bold;
}


/****** cromo ***/
#cromo{
  position: absolute;
  height: 22px;
  width: 608px;
  display: block;
  transition: all 4s ease;
  top: 0px;
  transform: rotate(45deg);
  z-index: 100;




  transform: translateX(79px) rotate(45deg) translateY(615px);
/*  animation-name: cromoo; */
 /* animation-duration: 4s;*/
 /*  animation-delay: 7s; */
 /*  animation-iteration-count: 1;*/
  /*animation-iteration-count: infinite;*/
}
#cromo>div{
  background-color: rgba(255,255,255,0.3);
  /* height: 10px; */
  width: 608px;
}
#cromo>div:first-child{
height: 25px;
margin-bottom: 4px;
}
#cromo>div:last-child{
height: 5px;
}




/* The animation code */
@keyframes cromoo {
  0%   {transform: translateX(79px) rotate(45deg) translateY(583px);}
  100% {transform: translateX(10px) rotate(45deg) translateY(-65px);}
}

@keyframes nonee {
  0%   {top: 0px;}
  100% {top: 0px;}
}
/* The element to apply the animation to */
/*
div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}
*/

/*

animation-name: fadeInOut, moveLeft300px, bounce;
animation-duration: 2.5s, 5s, 1s;
*/